<header>
  <!--<div class="container">
      <div class="dropdown" dropdown>
          <span>
              <img src="../../assets/img/user.png" alt="">
          </span>
          <a class="dropdown-toggle text-light" dropdownToggle>
              {{authService.decodedToken?.unique_name | titlecase}}
          </a>
  
          <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
              
          </div>
      </div>  
      <div class="wishlist">
          <i class="fas fa-heart" aria-hidden="true"></i>  
      </div>
</div>-->

<div class="container">
  <button class="btn btn-outline-dark my-2 mr-2">Login</button>
  <button class="btn btn-outline-dark my-2">Register</button>
</div>
</header>