$top-nav-background-color: #EC3912ed;

header {
    background-color:$top-nav-background-color;
    position: absolute;
    width: 100%;
    height: 60px;
    text-align: right;
}

.container {
    display: inline-flex;
    justify-content: flex-end;
    margin-right: 10px;
}

.dropdown-item {
    cursor: pointer;
}

.dropdown-toggle {
    cursor: pointer;
}

.dropdown-menu {
    margin-top: 10px;
}

.dropdown {
    margin-top: 8px;
    margin-right: 60px;
}

.whishlist {
    align-self: center;

    i {
        color: white;
        padding-right: 20px;
    }
}