<div class="card mb-4">
  <div class="card-img-wrapper">
    <img class="card-img-top" src="{{book.coverUrl || 'assets/images/default_cover.jpg'}}" alt="">
    <ul class="list-inline member-icons animate text-center">
      <li class="list-inline-item"><button class="btn btn-primary"><i class="fa fa-heart"></i></button></li>
    </ul>
  </div>
  <div class="card-body p-1">
    <h6 class="card-title text-center mb-1"><i class="fa fa-heart favorite-red"></i>
      {{book.title}}, {{book.author}}
    </h6>
    <p class="card-text text-muted text-center">{{book.genue}}</p>
  </div>
</div>