<div class="container">
  <div class="form-group px-2">
    <label class="block mt-3 ml-1" for="groupBy">Group by: </label>
    <div class="select-inline">
      <select class="form-control ml-1" style="width: 130px;" id="genue" [(ngModel)]="userParams.genue" name="genue">
        <option [value]="'All'">All</option>
        <option *ngFor="let book of books" [value]="book.genue">{{book.genue}}</option>
      </select>
      <select class="form-control ml-1" style="width: 130px;" id="author" [(ngModel)]="userParams.author" name="author">
        <option [value]="'All'">All</option>
        <option *ngFor="let book of books" [value]="book.author">{{book.author}}</option>
      </select>
      <button class="btn btn-primary ml-2" (click)="filter(userParams.genue, userParams.author)">Apply</button>
    </div>
  </div>

  <div class="row">
    <div *ngFor="let book of books" class="col-lg-2 col-md-3 col-sm-6">
      <app-book-card [book]="book"></app-book-card>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <pagination [boundaryLinks]="true" [totalItems]="pagination.totalItems" [itemsPerPage]="pagination.itemsPerPage" [(ngModel)]="pagination.currentPage"
      (pageChanged)="pageChanged($event)" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
  </div>
</div>