.container {
    max-width: 100%;
    margin: 100px;
    background-color: lightcyan;
    width: -webkit-fill-available;
    height: fit-content;
    position: absolute;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.select-inline {
    display: inline-flex;
}

.block {
    display: block;
}

